<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../static/RSS/Logo_Favicon.ico" style="border-radius: 50%;">

    <title>CNN Machinery Classifier</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/RSS/classifier_output.css"></link>
</head>
<body>
    <div id="heading">
        <h1><strong>MACHINERY DETAILS REPORTS TABLE:</strong></h1>
    </div>
    <div id="report_table">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Image Number</th>
                <th scope="col">Machinery Class Name</th>
                <th scope="col">Machinery Width</th>
                <th scope="col">Machinery Height</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Refrigerator</td>
                <td>100</td>
                <td>600</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Cooler</td>
                <td>200</td>
                <td>500</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Electric Motor</td>
                <td>300</td>
                <td>400</td>
              </tr>
            </tbody>
          <!-- </table>
          
          <table class="table"> -->
            <!-- <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <th scope="row">4</th>
                <td>Refrigerator</td>
                <td>400</td>
                <td>300</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Cooler</td>
                <td>500</td>
                <td>200</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Electric Motor</td>
                <td>600</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>
