<!doctype html>
<html lang="en">
    <head>
        <title>CNN Machinery Classifier</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/x-icon" href="../static/RSS/Logo_Favicon.ico" style="border-radius: 50%;">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../static/RSS/login.css"></link>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- <div class="container-fluid" style="margin-top: 25%; background-image: url('/static/RSS/Authentication_Page.jpg'); background-repeat: no-repeat; background-position: center;"> -->
        
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                  <div><image src="../static/RSS/Logo_Favicon.ico" width="50" /></div>
                  <button class="navbar-toggler" type="button" style="margin-left: 10%" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign-up</a>
                      </li> -->
                      <li>
                        <a class="nav-link active" aria-current="page" href="#">SignUp</a>
                      </li>
                    </ul>
                    <div class="container-fluid" style="margin-left: 10%;"><h1>CNN Machinery Classifier</h1></div>
                    <form class="d-flex" style="margin-left: -35%">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>

        <div class="container-fluid" style="padding: 7%; background-image: url('/static/RSS/Authentication_Page.jpg'); background-repeat: no-repeat; background-position: center;
            background-size: cover;
            height: 300%;
            overflow: hidden;">
            <!-- <img src="{{ img }}" alt = "No-Image" /> -->
                <div class="container" style=" display: flex; justify-content: center; align-items: center">
                    <form action = "{{url_for('login')}}" method = "post" style="color: white; width: 40%">
                        <div class="mb-3">
                            <label for="uname" class="form-label">Username:</label>
                            <input type="text" name = "uname" class="form-control" id="uname" aria-describedby="emailHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Password</label>
                            <input type="password" name = "pwd" class="form-control" id="pwd">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                        </div>
                        <div style = "display: flex;justify-content: center;">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>

            <div>
            <div>
        <div id="carouselExampleIndicators" class="carousel slide" style="margin-left: 3%; margin-top: 3%; width: 50%; height: 30%;" data-bs-ride="true">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/RSS/Slide0.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
                <div class="carousel-item">
                    <img src="../static/RSS/Slide1.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
                <div class="carousel-item">
                    <img src="../static/RSS/Slide2.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
                <div class="carousel-item">
                    <img src="../static/RSS/Slide3.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
                <div class="carousel-item">
                    <img src="../static/RSS/Slide4.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
                <div class="carousel-item">
                    <img src="../static/RSS/Slide5.jpg" width="80%" height="325vh" class="d-block" alt="No-img">
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        </div>

        <div id="carouselControls">
            <a href="#" class="dots" id="dot0"></a>
            <a href="#" class="dots" id="dot1"></a>
            <a href="#" class="dots" id="dot2"></a>
            <a href="#" class="dots" id="dot3"></a>
            <a href="#" class="dots" id="dot4"></a>
            <a href="#" class="dots" id="dot5"></a>
        </div>
        </div>

        <div id="note-txt">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga velit possimus laudantium similique odit. Quos maiores sed quas harum sunt. Quas nostrum voluptates facere deleniti suscipit numquam eveniet consequuntur!5
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga velit possimus laudantium similique odit. Quos maiores sed quas harum sunt. Quas nostrum voluptates facere deleniti suscipit numquam eveniet consequuntur!5
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae aut itaque magni illum repudiandae explicabo, quod excepturi similique maxime sint, repellat labore sunt deleniti quibusdam fugit cumque adipisci. Expedita.
          </p>
        </div id="note-txt">
      </div>

        <div id="foot">
             <!-- Footer -->
          <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="www.facebook.com" class="me-4 text-reset">
                        <i class="fab fa-facebook-f" style="font-size:48px;"></i>
                    </a>
                    <a href="www.twitter.com" class="me-4 text-reset">
                        <i class="fab fa-twitter" style="font-size:48px;"></i>
                    </a>
                    <a href="www.google.com" class="me-4 text-reset">
                        <i class="fab fa-google" style="font-size:48px;"></i>
                    </a>
                    <a href="www.instagram.com" class="me-4 text-reset">
                        <i class="fab fa-instagram" style="font-size:48px;"></i>
                    </a>
                    <a href="www.linkedin.com" class="me-4 text-reset">
                        <i class="fab fa-linkedin" style="font-size:48px;"></i>
                    </a>
                    <a href="www.github.com" class="me-4 text-reset">
                        <i class="fab fa-github" style="font-size:48px;"></i>
                    </a>
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
              <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                  <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                    </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Tensorflow</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">ScikitLearn</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Keras</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">PyTorch</a>
                        </p>
                    </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">Pricing</a></p>
                    <p><a href="#!" class="text-reset">Settings</a></p>
                    <p><a href="#!" class="text-reset">Orders</a></p>
                    <p><a href="#!" class="text-reset">Help</a></p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> India, IN 10012, IN</p>
                    <p>
                      <i class="fas fa-envelope me-3"></i>
                      info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 00 123 456 78</p>
                    <p><i class="fas fa-phone me-3"></i> + 00 123 456 78</p>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2022 Copyright:
              <a class="text-reset fw-bold" href="https://dutechsystems.com/">DutechSystems.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
          
            $(document).ready(() => {
              $('.carousel-inner').carousel({
                interval: 1200
              })
            });

            
            const sleep = ms => new Promise(r => setTimeout(r, ms));
            $(document).ready(async () => {
              for (let i = 0; i < 6; i ++) {
                $(`#dot${i}`).css('background-color', 'black')
                if (i > 0)
                  $(`#dot${i - 1}`).css('background-color', 'grey')
                await sleep(1000)
                if (i == 5)
                  //$(`#dot${4}`).css('background-color', 'grey')
                  i = 0
              }
            });
            
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
